<!-- template.hbs -->
{{#each this}}
<h3>{{date}} {{DayOfWeek}}</h3>
<div class="event">
    {{#each events}}
    <div class="event-container">
        <div class="event-time">{{start}} <br> {{duration}}</div>
        <div class="event-summary">
            <div class="summary"><strong>{{summary}}</strong></div>
            <div class="email">{{creator.email}}</div>
            {{#if location}}
            <div class="location">{{location}}</div>
            {{/if}}
        </div>
    </div>
    {{/each}}

</div>
{{/each}}