<!-- template.hbs -->
{{#if data}}
{{#if fontSize}}
<style>body{ font-size: {{fontSize}}px;  }</style>
{{/if}}
    {{#each data}}

    <h3>{{date}} {{DayOfWeek}}</h3>
    <div class="events-container">
        {{#each events}}
        <div class="event-con" data-starttime="{{startDatetime}}">
            <span class="time-to-start" style="display: none;"> </span>
            <div class="event-container" data-link="{{hangoutLink}}" data-event="{{jsonString}}">
                <div class="event-time">
                    <div class="start">
                        {{start}}
                    </div> 
                    <div class="duration">
                        {{duration}}
                    </div>
                </div>
                <div class="event-summary">
                    <div class="summary"><strong>{{summary}}</strong></div>
                    <div class="email">{{creator.email}}</div>
                    {{#if location}}
                    <div class="location">{{location}}</div>
                    {{/if}}
                </div>
                {{#if isOptional}}
                    <div class="isOptional">可选</div>
                {{/if}}
               
            </div>
             
        </div>
        {{/each}}

    </div>
    {{/each}}
{{else}}
<button id="authButton">Sign in with Google</button>
{{/if}}

